<div class="testx  mdl-color--grey-300">

</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col mdl-color--grey-300">
        <app-weighting-in></app-weighting-in>
        <br>
        <app-weighting-out></app-weighting-out>

    </div>
    <!-- End first column -->

    <div class="mdl-cell mdl-cell--4-col  mdl-color--grey-300">

        <div class="mdl-card wide-card mdl-shadow--2dp" style="height:100%; width:100%">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">รายการรถเข้า</h2>
            </div>

            <div class="mdl-card__supporting-text" style="padding: 16px 0 16px 0; width: 100%;">

                <div class="mdl-list">
                    <a class="mdl-list__item mdl-list__item--two-line " href="">

                        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>กอ-9555</span>
                        <span class="mdl-list__item-sub-title">นายเกียรติพงศ์ แซ่ตั้ง</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">

                        <!--<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>-->
                        </span>
                    </a>
                    <a class="mdl-list__item mdl-list__item--two-line" href="">
                        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>Aaron Paul</span>
                        <span class="mdl-list__item-sub-title">62 Episodes</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
                    </a>
                </div>




            </div>
        </div>


    </div>
</div>