<div class="testx  mdl-color--grey-300">

</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--9-col mdl-color--grey-300">


        <div class="wide-card mdl-card mdl-shadow--2dp card-x">
<!-- Title Card -->
           <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">ใบชั่งน้ำหนักรถ</h2>
            </div>
            <form action="#">
                <div class="mdl-card__actions">
<!-- Grid -->
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--7-col">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:30%;">
                                <input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                                <label class="mdl-textfield__label" for="sample4">ทะเบียนรถ</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                            <div style="display: initial;">

                                <i class="material-icons">more_vert</i>
                                <!-- Deletable Chip -->
                                <span class="mdl-chip mdl-chip--deletable" style="position: relative; bottom: 13px;">
                                <span class="mdl-chip__text">กอ-9555 ขอนแก่น</span>
                                <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
                                </span>

                                <i class="material-icons mdl-color-text--light-green">done</i>
                                <i class="material-icons  mdl-color-text--red">cancel</i>
                                <!-- MDL Spinner Component -->
                                <div class="mdl-spinner mdl-js-spinner is-active"></div>
                            </div>
                            <br>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:50%;">
                                <input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                                <label class="mdl-textfield__label" for="sample4">ลูกค้า</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>

                             <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:50%;">
                                <input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                                <label class="mdl-textfield__label" for="sample4">สถานที่นำส่ง</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>-->
                            <br>
<!-- ประเภทสินค้า-->
                            <div class="dropdown-x mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:30%;">
                                <select class="dropdown-content mdl-textfield__input ">
                                    <option value=""></option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                <!--<input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">-->
                                <label class="mdl-textfield__label" for="sample4">ประเภทสินค้า</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>



                            </div>
                            <div style="display: initial;">
                                <i class="material-icons">more_vert</i>

                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100px;">
                                <input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                                <label class="mdl-textfield__label" for="sample4">ราคา/หน่วย</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>


                        </div>
<!-- ใบชั่งข้างซ้าย -->
                        <div class="mdl-cell mdl-cell--5-col">
<!-- น้ำหนักเข้า-->
                            <div>
                                <span class="mdl-chip--contact" style="    position: absolute;    margin: 10px 0px;">
                                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">เข้า</span>
                                </span>
                                <div class="mdl-textfield mdl-js-textfield" style="padding-top: 0; padding-left: 45px; width: 90%;">
                                    <input class="mdl-textfield__input" type="text" style="border-bottom:2px solid; font-size: 2em;   text-align: right; " type="text"
                                        value="99999">
                                    <label style=" position: absolute; right: 0; font-size: 0.8em; bottom: -0em;">
                                        26/9/2016, 15:27
                                        </label>
                                    <small style="position: absolute; right: -25px; bottom: 30px;">กก.</small>
                                </div>

                            </div>
                            <br>
<!-- น้ำหนักออก-->
                            <div>
                                <span class="mdl-chip--contact" style=" position: absolute;    margin: 10px 0px;">
                                    <span class="mdl-chip__contact mdl-color--red mdl-color-text--white">ออก</span>
                                </span>
                                <div class="mdl-textfield mdl-js-textfield" style="padding-top: 0; padding-left: 45px; width: 90%;">
                                    <input class="mdl-textfield__input" type="text" style="border-bottom:2px solid; font-size: 2em; text-align: right; " type="text"
                                        value="99999">
                                    <label style="position: absolute; right: 0; font-size: 0.8em; bottom: -0em;">
                                        26/9/2016, 15:27
                                        </label>

                                    <small style="position: absolute; right: -25px; bottom: 30px;">กก.</small> </div>
                            </div>

                        </div>

                    </div>

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;position: relative;">
                               
                             <div style="">
                                  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">expand_more</i>
</button>
                                   
                             </div>

     <!--   <button type="button" class="mdl-chip__action"><i class="material-icons">expand_more</i></button>    -->               
                        </div>
                        <div class="mdl-cell mdl-cell--7-col ">
xx<br><br><br><br>
...<br>
                        </div>
<!-- รายการเพิ่มเติม-->
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--bottom ">
                             <div>
                                <span class="mdl-chip--contact" style=" position: absolute;    margin: 10px 0px;">
                                        <span class="mdl-chip__contact mdl-color--red mdl-color-text--white">ปรับ</span>
                                    </span>


                                    <div class="mdl-textfield mdl-js-textfield" style="padding-top: 0; padding-left: 45px; width: 90%;">
                                        <input class="mdl-textfield__input" type="text" style=" font-size: 1.5em; text-align: right; " type="text"
                                            value="50">
                                    

                                        <small style="position: absolute; right: -25px; bottom: 30px;">กก.</small> </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <div class="" style="  text-align: center;">
                        <p> สรุป</p>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--8-col">

                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
  <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">First</span>
</label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
  <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
  <span class="mdl-radio__label">Second</span>
</label>


                        </div>

                    </div>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <div class="mdl-grid">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            บันทึกข้อมูล
                        </button>
                    </div>

                </div>
            </form>
            <div class="mdl-card__menu">

                <button mdl id="cancel-document" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">cleart</i>
                </button>

                <!-- Right aligned menu below button -->
                <button mdl id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="menu-r mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item">Some Action</li>
                    <li class="mdl-menu__item">Another Action</li>
                    <li disabled class="mdl-menu__item">Disabled Action</li>
                    <li class="mdl-menu__item">Yet Another Action</li>
                </ul>
            </div>
        </div>
        <!-- End Card  -->

    </div>
    <!-- End first column -->

    <div class="mdl-cell mdl-cell--3-col  mdl-color--grey-300">

        <div class="mdl-card wide-card mdl-shadow--2dp" style="height:100%;">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">รายการรถเข้า</h2>
            </div>

            <div class="mdl-card__supporting-text" style="padding: 16px 0 16px 0; width: 100%;">

                <div class="mdl-list">
                    <a class="mdl-list__item mdl-list__item--two-line " href="">

                        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>กอ-9555</span>
                        <span class="mdl-list__item-sub-title">นายเกียรติพงศ์ แซ่ตั้ง</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">

                        <!--<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>-->
                        </span>
                    </a>
                    <a class="mdl-list__item mdl-list__item--two-line" href="">
                        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>Aaron Paul</span>
                        <span class="mdl-list__item-sub-title">62 Episodes</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
                    </a>
                </div>




            </div>
        </div>


    </div>
</div>