<div class="testx  mdl-color--grey-300">

</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--9-col mdl-color--grey-300">

        <div class="weighting-card mdl-card mdl-shadow--2dp card-x">
            <!-- Title Card -->
            <div class="mdl-card__title ">
                <h2 class="mdl-card__title-text" style="position: absolute; top: 20px;">
                    ใบชั่งน้ำหนักรถ </h2>
                <br>
              
                <div class="mdl-layout-spacer"></div>
                   <span class="mdl-chip mdl-chip--contact" style="    margin-top: 120px;">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">ID</span>
                <span class="mdl-chip__text" >36868</span>
                </span>
                

            </div>
            <form action="#">
                <div class="mdl-card__actions">
                    <!-- Grid -->
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--7-col">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:30%;">
                                <input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                                <label class="mdl-textfield__label" for="sample4">ทะเบียนรถ</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                            <div style="display: initial;">

                                <!--<i class="material-icons">trending_flat</i>-->
                                <!-- Deletable Chip -->
                                <span class="mdl-chip mdl-chip--deletable" style="position: relative; bottom: 13px;">
                                <span class="mdl-chip__text">กอ-9555 ขอนแก่น</span>
                                <button type="button" class="mdl-chip__action"><i class="material-icons">done</i></button>
                                <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
                                </span>

                                <i class="material-icons mdl-color-text--light-green">done</i>
                                <i class="material-icons  mdl-color-text--red">cancel</i>
                                <!-- MDL Spinner Component -->
                                <div class="mdl-spinner mdl-js-spinner is-active"></div>
                            </div>
                            <br>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:30%;">
                                <input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                                <label class="mdl-textfield__label" for="sample4">รหัสลูกค้า</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>


                            <br>
                            <!-- ประเภทสินค้า-->
                            <div class="dropdown-x mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:30%;">
                                <select class="dropdown-content mdl-textfield__input ">
                                    <option value=""></option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                    <option value="saab">Saab</option>
                                </select>

                                <!--<input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">-->
                                <label class="mdl-textfield__label" for="sample4">ประเภทสินค้า</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>

                            &nbsp;

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100px;">
                                <input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                                <label class="mdl-textfield__label" for="sample4">ราคา/หน่วย</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                            <br>



                        </div>
                        <!-- ใบชั่งข้างซ้าย -->
                        <div class="mdl-cell mdl-cell--5-col">
                            <!-- น้ำหนักเข้า-->
                            <div style="position:relative; top:4px">
                                <span class="mdl-chip" style="    position: absolute;     top: 12px;">
                                    <span class="mdl-chip__text">น้ำหนักเข้า</span>
                                </span>



                                <div class="mdl-textfield mdl-js-textfield" style="padding-top: 0; padding-left: 100px;">
                                    <input class="mdl-textfield__input" type="text" style="border-bottom:2px solid; font-size: 2em;   text-align: right; " type="text"
                                        value="99999">
                                    <label style=" position: absolute; right: 0; font-size: 0.8em; bottom: -0em;">
                                        26/9/2016, 15:27
                                        </label>
                                    <small style="position: absolute; right: -25px; bottom: 30px;">กก.</small>
                                </div>

                            </div>
                            <br>
                            <!-- น้ำหนักออก-->
                            <div style="position:relative;">
                                <span class="mdl-chip" style="    position: absolute;     top: 12px;">
                                    <span class="mdl-chip__text">น้ำหนักเข้า</span>
                                </span>
                                <div class="mdl-textfield mdl-js-textfield" style="padding-top: 0; padding-left: 100px;">
                                    <input class="mdl-textfield__input" type="text" style="border-bottom:2px solid; font-size: 2em; text-align: right; " type="text"
                                        value="99999">
                                    <label style="position: absolute; right: 0; font-size: 0.8em; bottom: -0em;">
                                        26/9/2016, 15:27
                                        </label>

                                    <small style="position: absolute; right: -25px; bottom: 30px;">กก.</small> </div>
                            </div>

                        </div>
                    </div>

                </div>


                <!-- การปรับสิ่งปลอมปน -->
                <!-- Hidden here-->
                <div class="mdl-card__actions" style=" background: lightgray; padding-top: 0; padding-bottom: 0;  position: relative;">


                    <button id="tt4" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab  mdl-js-ripple-effect mdl-button--colored"
                        style="position: absolute; top: -20px; left: 25px;">
                        <i class="material-icons">priority_high</i>
                        <!-- <i class="material-icons">close</i> -->
                    </button>

                    <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--right" for="tt4">
                        ปรับน้ำหนักสินค้า
                    </div>

                    <!-- Hidden here-->
                    <div hidden class="mdl-grid" style="padding-top : 30px;">
                        <div class="mdl-cell mdl-cell--7-col" style=" padding-left: 50px;">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:40%;">
                                <input mdl class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?">
                                <label class="mdl-textfield__label" for="sample4">ปริมาณ</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:30%;">
                                <select class="dropdown-content mdl-textfield__input ">
                                    <option value=""></option>
                                    <option value="saab">กิโลกรัม</option>
                                    <option value="opel">เปอร์เซ็น (%)</option>
                                    <option value="opel">ราคา/หน่วย (บาท)</option>
                                   
                                </select>
                                <label class="mdl-textfield__label" for="sample4">ประเภท</label>
                                <span class="mdl-textfield__error">Input is not a number!</span>
                            </div>
                            <br>


                            <div class="mdl-textfield mdl-js-textfield" style="width:70%">
                                <textarea class="mdl-textfield__input" type="text" rows="3" id="sample5"></textarea>
                                <label class="mdl-textfield__label" for="sample5">สาเหตุการปรับ</label>
                            </div>


                        </div>
                        <div class="mdl-cell mdl-cell--5-col">

                            <div style="position:relative; top:12px;">
                                <span class="mdl-chip" style="    position: absolute;">
                    <span class="mdl-chip__text">น้ำหนักหัก</span>
                                </span>


                                <div class="mdl-textfield mdl-js-textfield" style="padding-top: 0; padding-left: 100px; ">
                                    <input class="mdl-textfield__input" type="text" style="font-size: 1.5em; text-align: right; " type="text" value="50">

                                    <small style="position: absolute; right: -25px; bottom: 30px;">กก.</small>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Hidden here-->
                <div class="mdl-card__actions ">

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--7-col mdl-cell--bottom">

                            
                            <div class="mdl-textfield mdl-js-textfield" style="width:70% ">
                                <textarea class="mdl-textfield__input" type="text" rows="3" id="sample5"></textarea>
                                <label class="mdl-textfield__label" for="sample5">คำอธิบายเพิ่มเติม</label>
                            </div>
                        </div>
                        <!-- รายการเพิ่มเติม-->
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--bottom ">

                            <div style="position:relative;">
                                <span class="mdl-chip" style="    position: absolute;">
                                <span class="mdl-chip__text">น้ำหนักสุทธิ</span>
                                </span>


                                <div class="mdl-textfield mdl-js-textfield" style="padding-top: 0; padding-left: 100px; ">
                                    <input class="mdl-textfield__input" type="text" style="font-size: 1.5em; text-align: right; " type="text" value="50">

                                    <small style="position: absolute; right: -25px; bottom: 30px;">กก.</small>
                                </div>
                            </div>




                            <div style="position:relative;">
                                <span class="mdl-chip" style="    position: absolute;     top: 30px;">
                                <span class="mdl-chip__text">ยอดเงินสุทธิ</span>
                                </span>



                                <div class="mdl-textfield mdl-js-textfield" style="padding-left: 100px; ">
                                    <!--<small style="    position: absolute; right: 0px;  bottom: 64px;">เงินสุทธิ</small> -->
                                    <input class="mdl-textfield__input" type="text" style=" font-size: 2em; text-align: right; " type="text" value="50">

                                    <small style="position: absolute; right: -25px; bottom: 30px;">บาท</small>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="mdl-card__actions" style="    background: #424242;">
                    <div class="mdl-grid">

                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            บันทึกข้อมูล
                        </button> &nbsp;
                        <button class="mdl-button mdl-js-button mdl-button--accent">
                            ยกเลิก
                        </button>
                        <div class="mdl-layout-spacer"></div>
                          
               
                        <!--<a>ผู้บันทึกข้อมูล : นายเกียรติพงศ์ แซ่ตั้ง</a>-->
                    </div>

                </div>
            </form>
            <div class="mdl-card__menu">

            

                 <button mdl id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon" style="  color: #fff;">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="menu-r mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect " for="demo-menu-lower-right">
                    <li class="mdl-menu__item">Some Action</li>
                    <li class="mdl-menu__item">Another Action</li>
                    <li disabled class="mdl-menu__item">Disabled Action</li>
                    <li class="mdl-menu__item">Yet Another Action</li>
                </ul>


            </div>
        </div>
        <!-- End Card  -->

    </div>
    <!-- End first column -->

    <div class="mdl-cell mdl-cell--3-col  mdl-color--grey-300">

        <div class="mdl-card wide-card mdl-shadow--2dp" style="height:100%; width:100%">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">รายการรถเข้า</h2>
            </div>

            <div class="mdl-card__supporting-text" style="padding: 16px 0 16px 0; width: 100%;">

                <div class="mdl-list">
                    <a class="mdl-list__item mdl-list__item--two-line " href="">

                        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>กอ-9555</span>
                        <span class="mdl-list__item-sub-title">นายเกียรติพงศ์ แซ่ตั้ง</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">

                        <!--<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>-->
                        </span>
                    </a>
                    <a class="mdl-list__item mdl-list__item--two-line" href="">
                        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>Aaron Paul</span>
                        <span class="mdl-list__item-sub-title">62 Episodes</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
                    </a>
                </div>




            </div>
        </div>


    </div>
</div>