<!--<nav>
  <ul class="my-side-nav">
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <br>
    <li><a (click)="testSideNav()">Test</a></li>
  </ul>
</nav>-->
<!-- Nav -->
<nav id="menu" class="visible">
  <ul class="links">
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li><a (click)="testSideNav()">Test</a></li>
  </ul>
</nav>