
button, input{
        font-family: 'Mitr',"Helvetica","Arial",sans-serif;
}

.weighting-card {
         width: 100%;
 }

.weighting-card > .mdl-card__title {
  color: #fff;
  height: 68px;
  background: url('../../assets/images/welcome_card.jpg') center / cover;
      /*background: #424242;*/
}
.weighting-card  > .mdl-card__menu {
  color: #fff;
}
.demo-list-two {
  width: auto;
}
.mdl-list__item:hover{
      background-color: lightslategrey;
}


.dropdown-content {
    z-index: 2;
}


