.app-container{
    min-height: 100%;
    position: relative;
            float: left;
}

.content-container{
    margin-right: 0;
    margin-left: 0;
        position: relative;
    
}
.side-container{
    float: left;
}
