<!--<app-side-nav class="side-container"></app-side-nav>


<div class="app-container">
  <app-header></app-header>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>-->


   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <app-header></app-header>
      <div class="mdl-layout__drawer">
         <span class="mdl-layout-title">HTML5 Tutorial</span>
         <nav class="mdl-navigation">
              <a class="mdl-navigation__link" routerLink='/home' routerLinkActive='active'><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation"></i>Home</a>
      <a class="mdl-navigation__link" routerLink='/weighting' routerLinkActive='active'><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation"></i>Weighting</a>

         </nav>
      </div>


  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid">
      
       <router-outlet></router-outlet>
   
    </div>
  </main>
</div>